<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="newsDAO" class="com.epam.testapp.database.NewsDAO">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>
    
    <bean id="jdbcTemplate" class="com.epam.testapp.database.mapper.JdbcTemplate">
        <constructor-arg ref="pool"/>
    </bean>
    
    <bean id="pool" 
          class="com.epam.testapp.database.pool.ConnectionPool"
          factory-method="getInstance"
          init-method="init"
          destroy-method="closePool"/>
    
</beans>